body{
		background-image: "s.jpg";
		color: black;
		background-repeat: none;
		background-size: 100%;
		opacity: -0.9px;
		 background-attachment: fixed;
   background-size: cover;
	}
.container{
			font-size: 50px;
			padding-left: 300px;
			
		}
.c{
	font-size: 50px;

			padding-right: 80%;
			
}